{% load static %}
<html lang="en">
<head>
    <title>AutoOut:Automated Outlier Treatment</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static "images/logo_icon.png" %}">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/uppy.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

</head>
<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <a class="navbar-brand" href="/app/home" style="margin-left: auto; margin-right: auto;color: white;">
        <h2 style="text-align:center;display: inline-block">AutoOut: Automated Outlier Treatment</h2>
    </a>
    <ul class="navbar-nav">
        {% block navigation %}
        {% endblock %}
    </ul>
</nav>

<div class="content container">
    {% block content %}
    {% endblock %}
</div>

<script type='text/javascript' src="{% static "js/jquery-3.4.1.min.js" %}"></script>
<script type='text/javascript' src="{% static "js/bootstrap.min.js" %}"></script>
<script type='text/javascript' src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script type='text/javascript' src="{% static "js/uppy.min.js" %}"></script>
<script type='text/javascript' src="{% static "js/app.js" %}"></script>

</body>
</html>
