{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block navigation %}
<li class="nav-item">
  <a class="nav-link" href="/app/help">Help</a>
</li>
{% endblock %}

{% block content %}

    <div style="text-align: center;padding: 1.5em;">
        <h2 style="text-align:center;display: inline-block">AutoOut: Automated Outlier Treatment</h2>
        <button class="btn btn-primary" id="detectButton" style="float: right; display: none;">Detect</button>
    </div>


    <div id="drag-drop-area" style="width: 500px; height:300px; margin: auto;display: block;"></div>

    <div id="data-table-view" class="table-responsive" style="display: none">
      <table class="table table-hover table-bordered">
        <thead>

        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

    <script src="https://transloadit.edgly.net/releases/uppy/v1.2.0/uppy.min.js"></script>
    <script>
      var uppy = Uppy.Core({ autoProceed: true,
          restrictions: {
              maxFileSize: 1000000000,
              maxNumberOfFiles: 1,
              minNumberOfFiles: 1,
              allowedFileTypes: ['text/csv']
            }
          });
      uppy.use(Uppy.Dashboard, { target: '#drag-drop-area', inline: true,
          note: 'CSV, Hdf, Excel files only. We support tabular data only!' });
      uppy.use(Uppy.XHRUpload, { endpoint: 'file/upload' });

      uppy.on('complete', (result) => {
        console.log('Upload complete! We’ve uploaded these files:', result);

        $("#drag-drop-area").css("display", "none");
        $("#data-table-view").css("display", "block");

        $.ajax({url: "/app/data/get", success: function(result){
            let dataTableView = $("#data-table-view");
            let results = JSON.parse(result);
            console.log(results[0]);

            // Fill column names
            let headHtml = $("<tr>");
            let keys = Object.keys(results[0]);
            for(let i=0;i<keys.length;i++){
                headHtml.append("<th>"+keys[i]+"</th>");
            }
            headHtml.append("</tr>");
            dataTableView.find("thead").append(headHtml);

            // Fill values
            for(let i = 0; i < results.length; i++){
                let result1 = results[i];
                let rowHtml = $("<tr>");
                for(let j=0;j<keys.length;j++){
                    //console.log(result1[keys[j]]);
                    rowHtml.append($("<td>"+result1[keys[j]]+"</td>"));
                }
                rowHtml.append($("</tr>"));
                dataTableView.find("tbody").append(rowHtml);
            }
            $("#detectButton").show();
        }});
      })

      $("#detectButton").click(()=>{
          $.ajax({
              url: "/app/outliers/detect", success: function (result) {
                  console.log("RESULTS");
                  console.log(result);
              }
          })
      }
      )
    </script>
{% endblock %}