{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block navigation %}
    <li class="nav-item">
        <a class="nav-link" href="/app/help">Help</a>
    </li>
{% endblock %}

{% block content %}

    <div style="text-align: center;padding: 1.5em;">
        <h2 style="text-align:center;display: inline-block">AutoOut: Automated Outlier Treatment</h2>
        <button class="btn btn-primary buttonload" style="display: none;float: right;" id="loadingButton">
            <i class="fa fa-circle-o-notch fa-spin"></i><span id="loadingText"></span>
        </button>
        <button class="btn btn-primary" id="detectButton" style="float: right; display: none;">Detect</button>
        <button class="btn btn-primary" id="treatButton" style="float: right; display: none;">Treat</button>
        <a class="btn btn-primary" id="downloadButton" style="float: right; display: none;">Download</a>
    </div>


    <div id="drag-drop-area" style="width: 500px; height:300px; margin: auto;display: block;"></div>

    <div id="data-table-view" class="table-responsive" style="display: none">
        <table class="table table-hover table-bordered">
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

     <div id="tableNavigator" style="display: none;">
         <br/>
                <button class="btn btn-primary" style="float: left" onclick="previousPage()">Previous</button>
                <button class="btn btn-primary" style="float: right" onclick="nextPage()">Next</button>
          <br/>
          <br/>
     </div>




    <script src="https://transloadit.edgly.net/releases/uppy/v1.2.0/uppy.min.js"></script>
    <script>
        var page_no = 1;
        var outlierArray = [];
        var experiment_id;
        var uppy = Uppy.Core({
            autoProceed: true,
            restrictions: {
                maxFileSize: 1000000000,
                maxNumberOfFiles: 1,
                minNumberOfFiles: 1,
                allowedFileTypes: ['text/csv']
            }
        });
        uppy.use(Uppy.Dashboard, {
            target: '#drag-drop-area', inline: true,
            note: 'CSV, Hdf, Excel files only. We support tabular data only!'
        });
        uppy.use(Uppy.XHRUpload, {endpoint: 'file/upload'});

        uppy.on('complete', (result) => {
            console.log('Upload complete! We’ve uploaded these files:', result);

            $("#drag-drop-area").css("display", "none");
            $("#data-table-view").css("display", "block");
            $("#tableNavigator").show();

            $.ajax({
                url: "/app/data/get", success: function (result) {
                    let dataTableView = $("#data-table-view");
                    let results = JSON.parse(result);
                    console.log(results[0]);

                    // Fill column names
                    let headHtml = $("<tr>");
                    let keys = Object.keys(results[0]);
                    for (let i = 0; i < keys.length; i++) {
                        headHtml.append("<th>" + keys[i] + "</th>");
                    }
                    headHtml.append("</tr>");
                    dataTableView.find("thead").append(headHtml);

                    // Fill values
                    for (let i = 0; i < results.length; i++) {
                        let result1 = results[i];
                        let rowHtml = $("<tr>");
                        for (let j = 0; j < keys.length; j++) {
                            //console.log(result1[keys[j]]);
                            rowHtml.append($("<td>" + result1[keys[j]] + "</td>"));
                        }
                        rowHtml.append($("</tr>"));
                        dataTableView.find("tbody").append(rowHtml);
                    }
                    $("#detectButton").show();
                }
            });
        });

        $("#detectButton").click(() => {
            $("#detectButton").hide();
            $("#loadingButton").show();
            $("#loadingText").text("Detecting");
            $.ajax({
                url: "/app/outliers/detect", success: function (result) {
                    console.log("RESULTS");
                    console.log(result);
                    experiment_id = result.experiment_id;
                    var pollId = setInterval(() => {
                        $.ajax({
                            url: "/app/status/get",
                            method: "POST",
                            data: JSON.stringify({
                                "experiment_id": experiment_id
                            }),
                            success: function (result) {
                                console.log(result);
                                if (result.experiment_status === "Completed") {
                                    clearInterval(pollId);
                                    $("#loadingButton").hide();
                                    $("#treatButton").show();

                                    // Colorize detected rows
                                    $.ajax({
                                            url: "/app/outliers/get",
                                            method: "POST",
                                            data: JSON.stringify({
                                                "experiment_id": experiment_id
                                            }),
                                            success: function (result) {
                                                console.log(result);

                                                var outliers = result['outliers'];
                                                outlierArray = outliers;
                                                fillTable(1);
                                            },
                                            failure: function (result) {
                                                $("#loadingButton").hide();
                                            }
                                        }
                                    )
                                }
                            },
                            failure: function (result) {
                                $("#loadingButton").hide();
                            }
                        })
                    }, 5000);
                },
                failure: function (result) {
                    console.log("Failed to detect outliers");
                    $("#loadingButton").hide();
                    alert("Failed to detect outliers");
                }
            });
        });

        $("#treatButton").click(() => {
            $("#loadingButton").show();
            $("#loadingText").text("Treating");
            $("#treatButton").hide();
            $.ajax({
                url: '/app/outliers/treat?',
                method: 'POST',
                data: JSON.stringify({
                    experiment_id: experiment_id
                }),
                contentType: "application/json",
                success: function (result) {
                    console.log("Treat Results");
                    console.log(result.experiment_id);
                    let treatment_expr_id = result.experiment_id;
                    var pollId = setInterval(() => {
                        $.ajax({
                            url: "/app/status/get",
                            method: "POST",
                            data: JSON.stringify({
                                "experiment_id": experiment_id
                            }),
                            success: function (result) {
                                console.log(result);
                                if (result.experiment_status === "Completed") {
                                    clearInterval(pollId);
                                    $("#loadingButton").hide();
                                    //$("#treatButton").show();
                                    $("#downloadButton").show();
                                    $("#downloadButton").attr("href", `/app/file/download?experiment_id=${treatment_expr_id}`)
                                }
                            },
                            failure: function (result) {
                                $("#loadingButton").hide();
                            }
                        })
                    }, 5000);
                },
                failure: function (result) {
                    console.log("Failed to treat outliers");
                    $("#loadingButton").hide();
                    alert("Failed to treat outliers");
                }
            })
        });

        function nextPage () {
            page_no++;
            fillTable(page_no);
        }

        function previousPage() {
            if(page_no > 1) {
               page_no--;
               fillTable(page_no);
            }
        }

        function fillTable(page_num) {
            $.ajax({
                url: `/app/data/get?page_num=${page_num}`, success: function (result) {
                    let dataTableView = $("#data-table-view");
                    let results = JSON.parse(result);
                    console.log(results[0]);

                    // Fill column names
                    let headHtml = $("<tr>");
                    let keys = Object.keys(results[0]);
                    for (let i = 0; i < keys.length; i++) {
                        headHtml.append("<th>" + keys[i] + "</th>");
                    }
                    headHtml.append("</tr>");
                    dataTableView.find("thead").html(headHtml);

                    // Fill values
                    dataTableView.find("tbody").html('');
                    for (let i = 0; i < results.length; i++) {
                        let result1 = results[i];
                        let rowHtml;
                        if(outlierArray.includes((page_num - 1) * 20 +  i)) {
                            console.log("Row Number");
                            console.log((page_num - 1) * 20 +  i);
                            rowHtml = $("<tr style='background-color:#ff3c41; color:white'>");
                        } else {
                            rowHtml = $("<tr>");
                        }
                        for (let j = 0; j < keys.length; j++) {
                            //console.log(result1[keys[j]]);
                            rowHtml.append($("<td>" + result1[keys[j]] + "</td>"));
                        }
                        rowHtml.append($("</tr>"));
                        dataTableView.find("tbody").append(rowHtml);
                    }
                    {#$("#detectButton").show();#}
                }
            });
        }

    </script>
{% endblock %}
